<footer style="background-color: #ebf5e79a; border-top: 1px solid #110f0f50;border-radius: 20px; padding-top: 1rem">
  <div class="container f-info" >
    <div class="col-md-8" style="margin: 2 rem auto">
      <div class="f-info-row row">
        <h3>About Us</h3>
        <p>Airbnb is a platform for renting and listing properties.</p>
      </div>
      <div class="f-info-row row" style="align-items: center">
        <h3>Contact Us</h3>
        <div
          class="icons"
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            width: 40% !important;
          "
        >
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <p style="margin: 0; padding: 0;">Email: contact@airbnb.com</p>
        <p style="margin: 0; padding: 0;">Phone: 123-456-7890</p>
      </div>

      <div class="lastline" style="display: flex; flex-direction: row; justify-content: space-around; margin-left:auto; margin-right:auto; width: 40% !important;">
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
        <p>Cookie Policy</p>
        
      </div>
    </div>
  </div>
  
</footer>
