
.fa-solid{
    color: #ca4b4b;
}
.f-info-row{
    text-align: center;
    
    
}
.col-md-8{

    margin: 0 auto;
    align-items: center;
}
*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.reviews{
    background-color: #eecfcfd7;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    
    
    
    
}
.index-card:hover{
    opacity: 0.8;
    transition: 0.3s;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d3bfbf;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #da0505 #f1f1f1;
  }
  .category:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
  }